@font-face {
    font-family: olyford;
    src: url("./olyford-semibold.otf");
}


body {
    background: linear-gradient(to bottom, #031b28, #02061f);
}

p{
    color: #ffffff;
}

.inputBoxs{
    background-color: #02040f;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
}

.buttonsClass{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CreateButton{
    height: 50px; 
    width: 120px;
    margin-top: 10px; 
    margin-left: 245px;
    border: none;
    border-radius: 15px;
    background-color: #031b28;
    color: #ffffff;
    font-size: 20px;
}

.numberStarter{
    margin-left: 30px;
    margin-top: 11px;
    background-color: #031b28;
    color: #ffffff;
    height: 48px;
    width: 40px;
    border: none;
    border-radius: 8px;
    padding-left: 15px;
    font-size: 20px;
}

textarea{
    font-size: 20px;
}

p{
    font-family: olyford;
}

.inputsBox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.outputB{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}