@font-face {
    font-family: olyford;
    src: url("./olyford-semibold.otf");
}


.myBackground{
    height: 100vh;
    background: linear-gradient(to bottom, #031b28, #02061f);
}

a{
    text-decoration: none;
    color: #ffffff;
}

.outerDiv{
    width: 300px;
    background-color: #062242;
    border-radius: 40px;
    padding: 35px;
    text-align: center;
}

.mainBox{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

h1{
    font-family: olyford;
    font-size: 30px;
}

img{
    border: solid;
    border-width: 1px;
    border-color: #ffffff;
}