@font-face {
    font-family: olyford;
    src: url("./olyford-semibold.otf");
}

body {
    background: linear-gradient(to bottom, #031b28, #02061f);
}

.container {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    padding: 10px;
}

.flashcard {
    margin: auto;
    width: 800px;
    min-height: 500px;
    background-color: black;
    border-radius: 50px;
    border: solid 5px;
    border-color: #ffffff;
    text-align: center;
    padding: 20px;
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.FlipButton {
    background-color: #022e48;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    border: none;
    color: aliceblue;
    font-size: 25px;
}

p {
    color: black;
    font-size: 25px;
    font-family: olyford;
}

.numberSystem{
    height: 90px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topNumber{
    padding-left: 10px;
    padding-right: 10px;
}

h1{
    font-family: olyford;
}

.paperButtonsCont{
    display: flex;
    align-items: center;
    justify-content: center;
}

.RandomOrderedButtons{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paper1{
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    width: 130px;
    border-radius: 40px;
    font-size: 18px;
    font-family: olyford;
    background-color: #00030d;
    color: #ffffff;
    border: solid 1px;
    border-color: #ffffff;
}

.paper2{
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    width: 130px;
    border-radius: 40px;
    font-size: 18px;
    font-family: olyford;
    background-color: #00030d;
    color: #ffffff;
    border: solid 1px;
    border-color: #000000;
}

.OrderButton{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    padding: 10px;
    width: 90px;
    border-radius: 25px;
    font-size: 14px;
    font-family: olyford;
    background-color: #00030d;
    color: #ffffff;
    border: solid 1px;
    border-color: #ffffff;
}

.RandomButton{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    padding: 10px;
    width: 90px;
    border-radius: 25px;
    font-size: 14px;
    font-family: olyford;
    background-color: #00030d;
    color: #ffffff;
    border: solid 1px;
    border-color: #000000;
}

.WeakButton{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    padding: 10px;
    width: 90px;
    border-radius: 25px;
    font-size: 14px;
    font-family: olyford;
    background-color: #00030d;
    color: #ffffff;
    border: solid 1px;
    border-color: #000000;
}

.inputBoxs{

    background-color: #000000;
    color: #ffffff;
    font-size: 30px;
    border-radius: 10px;

}

.CorrectWrongButton{
    margin-left: 20px;
    margin-right: 20px;
    background-color: #022e48;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border-color: #000000;
    border: solid 1px;
    color: aliceblue;
    font-size: 25px;
}

.DataButtons{
    margin-left: 5px;
    margin-right: 5px;
    background-color: #022e48;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border: none;
    color: aliceblue;
    font-size: 20px;
}

.SectionButton{
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 5px;
    padding: 10px;
    width: 60px;
    border-radius: 25px;
    font-size: 18px;
    font-family: olyford;
    background-color: #00030d;
    color: #ffffff;
    border: solid 1px;
    border-color: #000000;
}